:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
}
body {
    background: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif; 
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}
.list, .list-buttons, .list-img {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border-bottom: 1px solid #ECECEC;
}
.visualy-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; 
}
/*Логотип */
.logo {
    margin-right: 93px;
    
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo .accent{
    color: #000000;
}
/* Навигация сайта */
.top-line, .nav {
    display: flex;
    align-items: center;
}
.site-nav,
.contacs-nav {
    display: flex;
    margin-left: auto;
}
.site-nav .item:not(:last-child),
.contacs-nav .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacs-nav .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smartphone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacs-nav .link:hover .envelope,
.contacs-nav .link:focus .envelope,
.contacs-nav .link:hover .smartphone,
.contacs-nav .link:focus .smartphone {
    fill: #2196F3;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacs-nav .link:hover,
.contacs-nav .link:focus { 
    color: #2196F3;
}
.item.current::after{
    content: "";
    display: block;

    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}
.site-nav .link.current {
    color: #2196F3;
} 
/* Герой */
.hero {
    background-color: #C4C4C4;
    height: 600px;
    max-width: 1600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../images/hero.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
}
/* Секции */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Секции главной страницы */
.section-features{
    padding-bottom: 47px;
}
.section-job{
    padding-top: 47px;
}
.section-features .list,
.section-job .list,
.section-team .list,
.section-clients .list{
    display: flex;
}
.section-features .item:not(:last-child),
.section-job .item:not(:last-child),
.section-team .item:not(:last-child),
.section-clients .item:not(:last-child)  {
        margin-right: 30px;
}
.section-features .icon{
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-right: 0;
    margin-bottom: 30px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-img{
    width: 70px;
    height: 70px;
}
.section-features .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-features .text{
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0px;
    margin-bottom: 0px;
}
.picture, .foto{
    display: block;
}
.section-job .title,
.section-team .title,
.section-clients .title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.section-job .item {
    position: relative;
}
.section-job .description-job {
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0; 
}
.description-job .title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 0;
}
.section-team { 
    background-color: #F5F4FA;
}
.section-team .item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.description-foto{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-team .name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
.section-team .text{
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
}
.description-foto .list {
    display: flex;
    justify-content: center;
}
.social{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-social:not(:last-child) {
    margin-right: 10px;
}
.social:hover,
.social:focus{
    background-color: #2196F3;
}
.social:hover .social-icon,
.social:focus .social-icon {
    fill: #FFFFFF;
}
.section-clients .item{
    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
}
.section-clients .icon-logo{
    width: 106px;
    height: 60px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients .item:hover,
.section-clients .item:focus {
    border: 1px solid #2196F3;
    fill: #2196F3;
}
.section-clients .link:hover .icon-logo,
.section-clients .link:focus .icon-logo {
    fill: #2196F3;
}
/* Секции страницы Порфолио */
.list-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list-buttons .item:not(:last-child) {
    margin-right: 8px;
}
.list-img {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px; 
}
.list-img .item {
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-img .item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title-text{
    border: 1px solid #ECECEC;
    border-top: 0;
    padding: 20px 24px 20px 24px;
}
.section-portfolio .title{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}
.section-portfolio .text{
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0px;
    margin-bottom: 0;
}
.picture-and-overlay {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0;
    overflow: auto;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-img .item:hover .overlay {
    transform: translateY(0%);
    opacity: 1;
}   
/* Кнопки */
.button {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color:  #188CE8;
}
.button-portfolio {
    cursor: pointer;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus{
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-footer-submit {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
}
.button-footer-submit .send {
    margin-left: 10px;
}
.modal-form-button {
    align-self: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    border: 0;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.modal-form-button:hover {
    cursor: pointer;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Подвал */
.site-footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    display: inline-block;
    margin-bottom: 20px;
}
.logo-footer .accent{
    color: #FFFFFF;
}
.address .text{
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}
.address .link {
    color: #FFFFFF99;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    display: inline-block;
    margin-bottom: 9px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .last{
    margin-bottom: 0px;
}
.address .link:hover,
.address .link:focus { 
    color: #2196F3;
}
.site-footer .container{
    display: flex;
    align-items: flex-start;
}
.logo-address{
    margin-right: 70px;
}
.social-footer {
    margin-right: 93px;
}
.social-footer .text,
.subscription .text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 20px;
}
.social-footer .list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-footer-social:not(:last-child) {
    margin-right: 10px;
}
.footer-social{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
.footer-social:hover,
.footer-social:focus{
    background-color: #2196F3;
}
.form-footer {
    display: flex;
}
.footer-input {
    color: white;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
}
.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
}
/* Модальное окно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms linear,
    visibility 250ms linear;
} 
.is-hidden {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}   
.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0;
}
.modal-button:hover {
    cursor: pointer;
}
.icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .icon-close {
    fill:  #2196F3;
}
.modal-window-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
    margin-top: 0;
    margin-bottom: 12px;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-label {
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
    margin-bottom: 10px;
}
.modal-input-and-icon {
    position: relative;
    display: block;
    margin-top: 4px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #2196F3;
    outline: none;
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
    fill: #2196F3;
}
/* Валидация
.modal-input:required:focus:valid {
    border-color: green;
}
.modal-input:required:focus:invalid {
    border-color: red;
}*/
.modal-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
}
.modal-message::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-message:focus {
    border-color: #2196F3;
    outline: none;
}
.modal-label-checkbox {
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    font-size: 14px;
    line-height: 1.71;
    color: #757575;

}
.checkbox-square {
    display: inline-block;
    vertical-align: middle;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-mark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: 0;
    margin-right: 7px;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.modal-checkbox:checked + .modal-label-checkbox>.checkbox-mark {
    opacity: 1;
}

.modal-checkbox:checked + .modal-label-checkbox>.checkbox-square {
    opacity: 0;
}
.modal-checkbox:focus + .modal-label-checkbox>.checkbox-square {
    fill: #2196F3;
}
